# Video Games Sales Analysis And Visualization
- 이야기는 제 룸메이트인 "자버" 중 한 명이 비디오 게임을 너무 많이 하고 그것을 매우 좋아한다는 것입니다. 어느 날 그가 제 방에 와서 비디오 게임에 대한 통계와 수치에 대해 물었습니다. 저는 브로에게 비디오 게임에 대해 잘 모른다고 말했습니다. 미안하지만 다른 방법으로 도움을 줄 수 있습니다. 게임에 대한 정보가 많은 좋은 데이터 상태를 알고 있습니다.
그래서 제가 이 데이터 세트를 보여드릴 수 있고 당신이 알고 싶은 것은 무엇이든 저에게 물어보세요. 제가 알아내려고 노력하겠습니다. 알겠죠?
- 그는 제 제안에 매우 만족했습니다. 그리고 그는 많은 질문을 동시에 시작했습니다. 나는 분석을 시작하려면 먼저 그것들을 가져와야 한다고 말했습니다. 인내심을 가지세요.

## 1. 데이터셋 확인

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
pd.set_option('display.max_columns', None)

import math

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style('whitegrid')

import missingno as msno

from sklearn.preprocessing import StandardScaler
from scipy import stats



import os
for dirname, _, filenames in os.walk('/data/vgsales'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [5]:
data = pd.read_csv('./data/vgsales/vgsales.csv')
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

- Me => See, here is your video games data.

In [6]:
drop_row_index = data[data['Year']> 2015].index
data = data.drop(drop_row_index)